html {
    background-color: #000;
    font-family: kaisei HarunoUmi;
    scroll-behavior: smooth;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* ページ全体を覆う */
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    /* 白背景 */
    z-index: 5;
    /* ヘッダーより上に表示 */
}

#logo {
    filter: saturate(0);
    /* 最初は彩度0で表示 */
    transition: filter 2s ease-in-out;
    /* トランジションの時間と種類 */
}

#loading-text {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: 'Koulen', sans-serif;
    color: #000;
    font-size: 20px;
    /* 他のスタイル設定 */
}

#loading-text span {
    display: inline-block;
    /* 他のスタイル設定があればここに追加 */
    animation: wave-animation 2s infinite ease-in-out;
}

/* ウェーブアニメーションのキーフレーム */
@keyframes wave-animation {

    0%,
    10%,
    20%,
    90%,
    100% {
        transform: translateY(0px);
    }

    30% {
        transform: translateY(-20px);
    }

    40%,
    50%,
    60% {
        transform: translateY(0px);
    }

    70% {
        transform: translateY(20px);
    }

    80% {
        transform: translateY(0px);
    }
}

/* アニメーションの遅延を個別に設定 */
#loading-text span:nth-child(1) {
    animation-delay: 0s;
}

#loading-text span:nth-child(2) {
    animation-delay: 0.1s;
}

#loading-text span:nth-child(3) {
    animation-delay: 0.2s;
}

#loading-text span:nth-child(4) {
    animation-delay: 0.3s;
}

#loading-text span:nth-child(5) {
    animation-delay: 0.4s;
}

#loading-text span:nth-child(6) {
    animation-delay: 0.5s;
}

#loading-text span:nth-child(7) {
    animation-delay: 0.6s;
}

#loading-text span:nth-child(8) {
    animation-delay: 0.7s;
}

#loading-text span:nth-child(9) {
    animation-delay: 0.8s;
}

#loading-text span:nth-child(10) {
    animation-delay: 0.9s;
}


/* ----------------------------------------------------------desktop用CSS 481px〜 -------------------------------------------------------------------------------------------------*/

@media (min-width: 481px) {
    .smart-phone {
        display: none;
    }

    .desktop {
        display: block;
    }

    .line {
        border: 1px solid #ffffff;
        justify-content: center;
    }

    .horizon-line {
        border-bottom: 1px solid #ffffff;
        width: 100%;
        margin-top: 60px;
    }

    .horizon-line2 {
        border-bottom: 1px solid #ffffff;
        width: 70%;
        margin-top: 60px;
        margin-left: auto;
        /* 左のマージンを自動に設定 */
        margin-right: auto;
        /* 右のマージンを自動に設定 */
    }

    .tanpin {
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        width: 40%;
    }

    .tanpin td,
    th {
        border: 1px solid black;
        text-align: center;
        padding: 8px;
    }

    .wide-cell{
        max-width: 200px;
        min-width: 150px;
    }

    .box {
        text-align: center;
    }

    /* ヘッダー */

    header {
        width: 100%;
        height: 40px;
        background: rgba(255, 255, 255, 0.50);
        color: #000000;
        display: flex;
        position: fixed;
        justify-content: left;
        align-items: center;
        white-space: nowrap;
        padding-left: 30px;
        z-index: 4;
    }

    .logo-image {

        top: 5px;
        /* これにより、コンテナの左上隅に配置されます */
        left: 2%;
        width: 50px;
        /* オーバーレイ画像のサイズを調整 */
        height: 40px;
        /* border-radius: 25%; */
        z-index: 2;
    }

    .logo-image-2 {
        left: 25%;
    }

    .logo-image-3 {
        left: 40%;
    }

    .logo-image-4 {
        left: 56%;
    }

    .logo-chr {
        top: 15px;
        /* これにより、コンテナの左上隅に配置されます */
        width: 40px;
        /* オーバーレイ画像のサイズを調整 */
        height: 40px;
        /* border-radius: 25%; */
        z-index: 2;
    }


    .logo {
        margin-left: auto;
    }

    header h1 {
        margin-left: 30px;
    }

    nav ul {
        margin-left: 30px;
        font-size: 15px;
        list-style: none;
        /* リストマーカーを削除 */
        padding: 0;
        /* パディングをリセット */
        display: flex;
        /* フレックスボックスを使用してアイテムを横並びにする */
    }

    nav ul li a {
        text-decoration: none;
        /* リンクの下線を削除 */
        color: rgb(0, 0, 0);
        /* リンクの色を黒に設定 */
        margin: 0 15px;
        /* リンクの左右にマージンを追加 */
    }

    .mainvisual2 img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    @media screen and (min-width:1220px) {
        .container {
            display: grid;
            height: 2400px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
    }

    @media screen and (max-width:1219px) {
        .container {
            display: flex;
            /* フレックスボックスを使用 */
            flex-direction: column;
            /* アイテムを縦方向に並べる */
            align-items: center;
            /* アイテムを水平方向の中央に揃える */
            justify-content: center;
            /* アイテムを垂直方向の中央に揃える（コンテナの高さが指定されている場合） */
            height: 4800px;
            /* コンテナの高さをビューポートの高さに合わせる（必要に応じて調整） */
        }

        .syousai-container {
            display: flex;
            /* フレックスボックスを使用 */
            flex-direction: column;
            /* アイテムを縦方向に並べる */
            align-items: center;
            /* アイテムを水平方向の中央に揃える */
            justify-content: center;
            /* アイテムを垂直方向の中央に揃える（コンテナの高さが指定されている場合） */
            /* アイテムを両端に寄せる */
        }
    }

    .CONCEPT {
        color: #ffffff;
        padding-top: 20px;
        margin-bottom: 30px;
        text-align: center;
    }

    .section3 {
        width: 100%;
        margin-top: 40px;
    }


    .image-container {
        display: flex;
        justify-content: space-around;
        /* 画像間に均等なスペースを確保 */
        align-items: center;
        /* 画像を垂直方向の中央に配置 */
        font-size: 32px;
    }

    .menubox {
        position: relative;
        /* ポジショニングの基準点を設定 */
        margin-top: 40px;
    }

    .singlebox {
        position: relative;
        /* ポジショニングの基準点を設定 */
        margin-top: 40px;
    }



    .menubox p,
    .singlebox p {
        position: absolute;
        /* p要素を絶対位置で配置 */
        top: 50%;
        /* 上辺から50%の位置 */
        left: 50%;
        /* 左辺から50%の位置 */
        transform: translate(-50%, -50%);
        /* 自身の幅と高さの半分を引くことで中央に配置 */
        color: #ffffff;
        /* テキストの色を白に設定 */
        margin: 0;
        /* マージンをリセット */
        pointer-events: none;

    }

    .menubox img,
    .singlebox img {
        transition: all 0.3s ease;
        /* アニメーションの速度とタイプを設定 */
        filter: brightness(30%);
        /* 初期状態の明るさを設定 */
    }

    .menubox img:hover,
    .singlebox img:hover {
        filter: brightness(120%);
        /* ホバー時の明るさを増加 */
    }

    @media (max-width:815px) {
        .image-container {
            flex-direction: column;
        }
    }


    .box {
        display: flex;
        justify-content: flex-end;
    }

    .shop-photo {
        width: 600px;
        height: 600px;
    }

    .shop-photo,
    .shop-in,
    .meat,
    .meat2,
    .meat4 {
        text-align: right;
    }

    table {
        border-spacing: 0 10px;
        /* セル間の水平間隔と垂直間隔 */
        width: 100%;
        color: #ffffff;
        width: 100%;
        /* テーブルの幅をコンテナに合わせる */
        border-collapse: collapse;
    }

    th,
    td {
        text-align: left;
        border-bottom: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    /* 枠線を消去 */
    table,
    th,
    td {
        border: 0;
    }

    .syousai-container {
        display: flex;
        /* フレックスボックスを使用 */
        justify-content: space-between;
        /* アイテムを両端に寄せる */
    }

    .map {
        width: 50%;
        /* マップの幅をコンテナの50%に設定 */
        height: 500px;
        /* マップの高さ */
        display: flex;
        /* フレックスボックスとして設定 */
        justify-content: center;
        /* 水平方向の中心揃え */
    }

    .table-container {
        width: 50%;
        /* テーブルのコンテナの幅を50%に設定 */
    }

    .page-top {
        background-color: #877046;
        text-align: center;
        margin-top: 20px;
    }

    .page-top a {
        text-decoration: none;
        /* 下線を消す */
        color: #ffffff;
        /* テキストの色を白に設定 */
    }

    .footer {
        background-color: #D9D9D9;
        color: #000000;
        margin-top: 10px;
    }

    .footer-text1 {
        padding: 20px 0;
        text-align: center;
    }

    .footer-text2 {
        padding: 20px 0;
        text-align: center;
    }


    /* photoアニメーション関連 */

    @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

    figure.snip1200 {
        font-family: 'Raleway', Arial, sans-serif;
        position: relative;
        overflow: hidden;
        min-width: 600px;
        max-width: 600px;
        max-height: 600px;
        width: 100%;
        background: #000000;
        color: #ffffff;
        text-align: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        font-size: 16px;
    }

    figure.snip1200 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out;
    }

    figure.snip1200 img {
        max-width: 100%;
        position: relative;
        opacity: 0.9;
    }

    figure.snip1200 figcaption {
        position: absolute;
        top: 45%;
        left: 7%;
        right: 7%;
        bottom: 45%;
        border: 1px solid white;
        border-width: 1px 1px 0;
    }

    figure.snip1200 .heading {
        overflow: hidden;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    figure.snip1200 h2 {
        display: table;
        margin: 0 auto;
        padding: 0 10px;
        position: relative;
        text-align: center;
        width: auto;
        text-transform: uppercase;
        font-weight: 400;
    }

    figure.snip1200 h2 span {
        font-weight: 800;
    }

    figure.snip1200 h2:before,
    figure.snip1200 h2:after {
        position: absolute;
        display: block;
        width: 1000%;
        height: 1px;
        content: '';
        background: white;
        top: 50%;
    }

    figure.snip1200 h2:before {
        left: -1000%;
    }

    figure.snip1200 h2:after {
        right: -1000%;
    }

    figure.snip1200 p {
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        width: 100%;
        padding: 0 20px;
        margin: 0;
        opacity: 0;
        line-height: 1.6em;
        font-size: 0.9em;
    }

    figure.snip1200 a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
    }

    figure.snip1200:hover img,
    figure.snip1200.hover img {
        opacity: 0.25;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    figure.snip1200:hover figcaption,
    figure.snip1200.hover figcaption {
        top: 7%;
        bottom: 7%;
    }

    figure.snip1200:hover p,
    figure.snip1200.hover p {
        opacity: 1;
        -webkit-transition-delay: 0.35s;
        transition-delay: 0.35s;
    }

    /* ボタン操作関連 */
    .CONCEPT-text {
        color: #ffffff;
        padding: 20px 0;
        text-align: center;
    }

    .course1 {
        height: auto;
        margin: 60px;
        /* border: 5px solid rgb(255, 255, 255); */
        background-color: rgb(0, 0, 0);
        background-image: url('../images/4000.webp');
        /* 画像のパスを適切に設定してください */
        background-size: cover;
        /* 背景画像をコンテナに合わせて調整 */
        background-position: center;
        /* 背景画像を中央に配置 */
    }

    
    .course2 {
        height: auto;
        margin: 60px;
        /* border: 5px solid rgb(255, 255, 255); */
        background-color: rgb(0, 0, 0);
        background-image: url('../images/4500.webp');
        /* 画像のパスを適切に設定してください */
        background-size: cover;
        /* 背景画像をコンテナに合わせて調整 */
        background-position: center;
        /* 背景画像を中央に配置 */
    }


    .course3 {
        height: auto;
        margin: 60px;
        /* border: 5px solid rgb(255, 255, 255); */
        background-color: rgb(0, 0, 0);
        background-image: url('../images/5000.webp');
        /* 画像のパスを適切に設定してください */
        background-size: cover;
        /* 背景画像をコンテナに合わせて調整 */
        background-position: center;
        /* 背景画像を中央に配置 */
    }


    .text {
        font-size: 24px;
        color: #FFFFFF;
        margin: 5px 15% 5px 15%;
        line-height: 1.5;
    }

    .hidden {
        display: none;
    }

    .mainview img {
        max-width: 100%;
        height: auto;
        margin: 0;
        padding-left: 7px;
        padding-right: 7px;
        object-fit: contain;
    }

    .mainview{
        font-size: 50px;
        overflow: hidden;
        position: relative;
    }
    
    /* .cover1,
    .cover2,
    .cover3,
    .cover4,
    .cover5,
    .cover6,
    .cover7,
    .cover8,
    .cover9,
    .cover10,
    .cover11,
    .cover12,
    .cover13,
    .cover14,
    .cover15 {
    animation: cover 3s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
    background: #000;
    height: calc(100% / 14);
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    border-radius: 50px 0 0 50px;
    z-index: 1;
    }

    .cover1 {
    top: 0;
    }

    .cover2 {
        animation-delay: 0.2s;
        top: calc(100% / 15);
        }
    
    .cover3 {
    animation-delay: 0.4s;
    top: calc(100% / 15 * 2);
    }

    .cover4 {
        animation-delay: 0.6s;
        top: calc(100% / 15 * 3);
    }

    .cover5 {
        animation-delay: 0.8s;
        top: calc(100% / 15 * 4);
    }

    .cover6 {
        animation-delay: 1.0s;
        top: calc(100% / 15 * 5);
    }

    .cover7 {
        animation-delay: 1.2s;
        top: calc(100% / 15 * 6);
    }

    .cover8 {
        animation-delay: 1.4s;
        top: calc(100% / 15 * 7);
    }

    .cover9 {
        animation-delay: 1.6s;
        top: calc(100% / 15 * 8);
    }

    .cover10 {
        animation-delay: 1.8s;
        top: calc(100% / 15 * 9);
    }

    .cover11 {
        animation-delay: 2.0s;
        top: calc(100% / 15 * 10);
    }

    .cover12 {
        animation-delay: 2.2s;
        top: calc(100% / 15 * 11);
    }

    .cover13 {
        animation-delay: 2.4s;
        top: calc(100% / 15 * 12);
    }

    .cover14 {
        animation-delay: 2.6s;
        top: calc(100% / 15 * 13);
    }

    .cover15 {
        animation-delay: 2.8s;
        top: calc(100% / 15 * 14);
    }
    
        
    @keyframes cover {
    100% {
        transform: translateX(100%);
    }
    } */

    .cover21,
    .cover22,
    .cover23,
    .cover24,
    .cover25,
    .cover26,
    .cover27,
    .cover28,
    .cover29,
    .cover210,
    .cover211,
    .cover212,
    .cover213,
    .cover214,
    .cover215 {
    animation: cover2 2s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
    /* background: rgba(255,105,212,0); */
    background: #000;
    color: rgba(255, 10, 10, 0.75);
    width: calc(100% / 100);
    top: calc(100% / 5);
    pointer-events: none;
    position: absolute;
    bottom: 0;
    border-radius: 50px 50px 0 0;
    /* clip-path: polygon(50% 0, 100% 100%, 0 100%); */
    z-index: 1;
    }

    /* .cover21,
    .cover22,
    .cover23,
    .cover24,
    .cover25 {
    animation: cover2 2s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
    background: #fff;
    height: calc(100% / 3);
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    z-index: 1;
    } */


    .cover21 {
        left: 0;
        }

    .cover22 {
        animation-delay: 0.5s;
        left: calc(100% / 15);
        }
    
    .cover23 {
    animation-delay: 3s;
    left: calc(100% / 15 * 2);
    }

    .cover24 {
        animation-delay: 4s;
        left: calc(100% / 15 * 3);
    }

    .cover25 {
        animation-delay: 5s;
        left: calc(100% / 15 * 4);
    }

    .cover26 {
        animation-delay: 6s;
        left: calc(100% / 15 * 5);
    }

    .cover27 {
        animation-delay: 7s;
        left: calc(100% / 15 * 6);
    }

    .cover28 {
        animation-delay: 8s;
        left: calc(100% / 15 * 7);
    }

    .cover29 {
        animation-delay: 9s;
        left: calc(100% / 15 * 8);
    }

    .cover210 {
        animation-delay: 10s;
        left: calc(100% / 15 * 9);
    }

    .cover211 {
        animation-delay: 11s;
        left: calc(100% / 15 * 10);
    }

    .cover212 {
        animation-delay: 12s;
        left: calc(100% / 15 * 11);
    }

    .cover213 {
        animation-delay: 13s;
        left: calc(100% / 15 * 12);
    }

    .cover214 {
        animation-delay: 14s;
        left: calc(100% / 15 * 13);
    }

    .cover215 {
        animation-delay: 15s;
        left: calc(100% / 15 * 14);
    }
        
        
    @keyframes cover2 {
    100% {
        transform: translateY(100%);
    }
    }

    .mainvisual2 img {
        max-width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }



    .container-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .img-wrapper {
        position: relative;
        /* img-wrapperを相対位置として設定 */
    }

    .img-wrapper p {
        position: absolute;
        bottom: 0;
        /* 下部に配置 */
        left: 50%;
        transform: translateX(-100%) translateY(-100%);
        /* X軸方向に50%左に移動し、さらに自身の高さ分下に移動 */
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px 10px;
        margin: 0;
        /* デフォルトのマージンを削除して位置調整を容易にする */
    }


    .img-wrapper img {
        display: block;
        width: 100%;
        /* コンテナを満たすように幅を調整 */
        height: auto;
        /* 高さは自動で調整 */
    }




    .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        margin-top: 150px;
    }


    .card-row {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        /* 行間のスペース */
    }

    .card {
        width: 500px;
        /* カードの幅 */
        margin: 0 10px;
        /* カードの間隔 */
        box-shadow: 0 4px 8px rgba(66, 66, 66, 0.2);
        background-color: rgb(0, 0, 0);
        /* カードの背景色 */
        overflow: hidden;
        /* 枠をはみ出す画像を隠す */
    }

    .card-image {
        width: 100%;
        /* カードの幅に合わせる */
        height: 500px;
        /* 画像の比率を保つ */
    }

    .card-text {
        padding: 15px;
        text-align: center;
        /* テキストを中央揃え */
    }

    @media (max-width: 1560px) {
        .card {
            width: 300px;
        }

        .card-image {
            height: 300px;
            /* 画像の比率を保つ */
        }

    }

    @media (max-width: 960px) {
        .card-row {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            /* 行間のスペース */
            flex-direction: column;
            /* アイテムを行方向に並べる */
        }

        .card {
            width: 500px;
        }

        .card-image {
            height: 500px;
            /* 画像の比率を保つ */
        }
    }

    /* testCSSーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */



    /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

    .burian {
        display: flex;
        /* フレックスボックスを使用 */
        flex-direction: row;
        /* アイテムを行方向に並べる */
        align-items: center;
        /* アイテムを垂直方向の中央に配置 */
        justify-content: flex-start;
        /* アイテムを水平方向の開始端に配置 */
        border: 1px solid #ddd;
        /* 枠線 */
        border-radius: 8px;
        /* 角丸 */
        padding: 20px;
        /* 内側の余白 */
        margin: 150px;
        /* 外側の余白（上下のみ） */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* 影を付ける */
        color: #FFFFFF;

        justify-content: center;
        /* 子要素を水平方向の中心に */
        align-items: center;
        /* 子要素を垂直方向の中心に */
        text-align: center;
        /* テキストを中央揃えに */
    }

    .burian img {
        width: 600px;
        height: auto;
    }


    .burian p {
        font-size: 32px;
        color: #FFFFFF;
        margin: 5px 15% 5px 15%;
        line-height: 1.5;
    }

    @media (max-width: 1560px) {
        .burian {
            flex-direction: column;
        }
    }

    @media (max-width: 960px) {
        .burian img {
            width: 400px;
            height: auto;
        }

        .burian p {
            font-size: 20px;
            color: #FFFFFF;
            margin: 5px 15% 5px 15%;
            line-height: 1.5;
        }
    }

    /* .container>div {
        margin-bottom: 200px;
    } */

    /* .shop-photo {
        text-align: center;
        position: relative;
    } */

    /* .shop-photo-text {
        color: #ffffff;
        position: absolute;
        top: 20px;
        text-align: center;
        width: 100%;
        z-index: -1;
        line-height: 3;
        opacity: 0;
    } */

    /* .syato-burian{
        text-align: center;
        position: relative;
    } */

    /* .syato-burian-text {
        color: #ffffff;
        position: absolute;
        top: 40px;
        left: 30%;
        width: 100%;
        z-index: -1;
        line-height: 3;
        opacity: 0;
    } */




    /* --------------------------------------------animeation------------------------------------------------ */
    /* @keyframes shop-photo {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(50px, -100px);
        }
    }

    @keyframes floatUp {
        from {
            transform: translateY(100%);
          
            opacity: 0;
            
        }

        to {
            transform: translateY(0);
           
            opacity: 1;
            
    }

    @keyframes syato-burian {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-200px, -200px);
        }
    } */

    /* コンセプト
    .CONCEPT {
        color: #ffffff;
        padding-top: 20px;
        text-align: center;
    }

    .CONCEPT-text {
        color: #ffffff;
        padding: 20px 0;
        text-align: center;
    }

    
    .section1 {
        position: relative;
        text-align: right;
        height: 850px;
        width: 100%;
    }

    .background-photo {
        position: absolute;
        top: 40px;
        right: 100px;
        z-index: -1;
    }

    .CONCEPT-text2 {
        color: #ffffff;
        position: absolute;
        right: 60px;
        top: 300px;
        text-align: center;
        line-height: 2;
    }

    .background-photo2 {
        position: absolute;
        top: 200px;
        left: 5%;
    }

    .meat {
        position: absolute;
        top: 500px;
        right: 30%;
    }

    .meat2 {
        position: absolute;
        top: 400px;
        right: 10%;
    }

    .shop-photo {
        display: flex;
        justify-content: center;
    }

    .section3 {
        width:100%;
    }

    .grid{
        display: grid;
       
        grid-template-columns: 1fr 1fr;
        
        grid-gap: 10px;
       
    }

    .course, .Single-item {
        position: relative; 
        width: 400px;
        height: 400px;
        margin: auto; 
      }

      .course img, .Single-item img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
      } */


}

/*---------------------------------------------------------- 基本スタイル (320px〜480px) ----------------------------------------------------------------------------------------*/
/* ネオ大焼肉 エース */
@media (max-width: 480px) {
    .smart-phone {
        display: block;
    }

    .desktop {
        display: none;
    }


    /* .splash-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        
        z-index: 5;
       
    }

    #logo {
        filter: saturate(0);
       
        transition: filter 2s ease-in-out;
       

    } */

    .header {
        margin: 0;
        padding: 0;
        background-color: #D9D4CE;
        width: 100%;
        height: 70px;
        flex-shrink: 0;
        position: fixed;
        z-index: 4;
        top: 0px;
    }

    #section2 {
        margin: 0;
        padding: 0;
        background-color: rgba(100, 100, 100, 0.9);
        /* 赤色の半透明 */
        width: 100%;
        flex-shrink: 0;
        position: fixed;
        z-index: 3;
        top: -50px;
    }

    .menu {
        width: 100%;
        /* メニューの幅 */
        height: 100%;
        overflow: hidden;
        color: #FFF;
        margin-top: 40%;
    }


    .fade {
        transition: opacity 0.5s;
        opacity: 1;
    }

    .hidden {
        opacity: 0;
    }

    #close-button {
        color: #f00;
    }

    .openbtn1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        height: 100%;
        flex-shrink: 0;
        background: #000;
        margin: auto 0 0 auto;
    }

    /*ボタン内側*/
    .openbtn1 span {
        display: inline-block;
        transition: all .4s;
        /*アニメーションの設定*/
        position: absolute;
        left: 14px;
        height: 2px;
        border-radius: 5px;
        background: #fff;
        width: 70%;
    }

    .openbtn1 span:nth-of-type(1) {
        top: 14px;
        left: 50%;
        /* 左から50%の位置に設定 */
        transform: translate(-50%, -50%);
        /* 中央に配置するための調整 */
    }

    .openbtn1 span:nth-of-type(2) {
        top: 22px;
        left: 50%;
        /* 左から50%の位置に設定 */
        transform: translate(-50%, -50%);
        /* 中央に配置するための調整 */
    }

    .openbtn1 span:nth-of-type(3) {
        top: 30px;
        left: 50%;
        /* 左から50%の位置に設定 */
        transform: translate(-50%, -50%);
        /* 中央に配置するための調整 */
    }

    .openbtn1.active span {
        background-color: #f00;
    }

    .openbtn1.active span:nth-of-type(1) {
        top: 15px;
        left: 22px;
        transform: translateY(6px) rotate(-45deg);
        width: 40%;
    }

    .openbtn1.active span:nth-of-type(2) {
        opacity: 0;
        /*真ん中の線は透過*/
    }

    .openbtn1.active span:nth-of-type(3) {
        top: 27px;
        left: 22px;
        transform: translateY(-6px) rotate(45deg);
        width: 40%;
    }


    .openbtn1 p {
        color: #FFF;
        position: absolute;
        top: 45px;
        left: 50%;
        /* 左から50%の位置に設定 */
        transform: translate(-50%, -50%);
        /* 中央に配置するための調整 */
    }

    .logo-image {
        position: absolute;
        top: 5px;
        /* これにより、コンテナの左上隅に配置されます */
        left: 2%;
        width: 70px;
        /* オーバーレイ画像のサイズを調整 */
        height: 60px;
        /* border-radius: 25%; */
        z-index: 2;
    }

    .logo-image-2 {
        left: 25%;
    }

    .logo-image-3 {
        left: 40%;
    }

    .logo-image-4 {
        left: 56%;
    }

    .logo-chr {
        position: absolute;
        top: 15px;
        /* これにより、コンテナの左上隅に配置されます */
        width: 40px;
        /* オーバーレイ画像のサイズを調整 */
        height: 40px;
        /* border-radius: 25%; */
        z-index: 2;
    }



    .mainvisual {
        display: block;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        margin: 0;
        padding: 0;
    }





    .main-image {
        /* セレクタの修正 */
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .photo-text {
        writing-mode: vertical-rl;
        color: #ffffff;
        position: absolute;
        right: 20%;
        top: 60%;
        /* 上部から中央に配置 */
        transform: translateY(-50%);
        /* 中央揃えのための調整 */
        font-size: 25px;
        width: 23px;
        height: 500px;
        line-height: 2em;
        /* ここで行の高さ（文字間隔）を設定 */
        font-family: kaisei HarunoUmi;
    }

    .photo-text2 {
        writing-mode: vertical-rl;
        color: #ffffff;
        position: absolute;
        right: 10%;
        top: 75%;
        /* 上部から中央に配置 */
        transform: translateY(-50%);
        /* 中央揃えのための調整 */
        font-size: 25px;
        width: 23px;
        height: 500px;
        line-height: 2em;
        /* ここで行の高さ（文字間隔）を設定 */
        font-family: kaisei HarunoUmi;
    }

    .photo-text3 {
        writing-mode: vertical-rl;
        color: #ffffff;
        position: absolute;
        left: 12%;
        top: 100%;
        /* 上部から中央に配置 */
        transform: translateY(-50%);
        /* 中央揃えのための調整 */
        font-size: 25px;
        width: 23px;
        height: 500px;
        line-height: 2em;
        /* ここで行の高さ（文字間隔）を設定 */
        font-family: kaisei HarunoUmi;
    }

    .fadeUp {
        animation-name: fadeUpAnime;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    @keyframes fadeUpAnime {
        from {
            opacity: 0;
            transform: translateY(350px);
        }

        to {
            opacity: 1;
            transform: translateY(440px);
        }
    }

    .fadeUpTrigger {
        opacity: 0;
    }

    .fadeUp2 {
        animation-name: fadeUpAnime2;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    @keyframes fadeUpAnime2 {
        from {
            opacity: 0;
            transform: translateY(-100px);
        }

        to {
            opacity: 1;
            transform: translateY(000px);
        }
    }

    .fadeUpTrigger2 {
        opacity: 0;
    }


    .container {
        position: relative;
        width: 100%;
        height: 600px;
        /* コンテナの高さを必要に応じて調整してください。 */
        overflow: hidden;
        /* はみ出した要素を非表示にします。 */
    }

    /* 基本の回転画像スタイル。 */
    .rotated-image2,
    .rotated-image3 {
        position: absolute;
        /* 絶対位置指定でコンテナ内を自由に動かせます。 */
        transform: rotate(-45deg);
        /* 45度回転。 */
        /* `top` と `left` を使用して配置を制御します。 */
    }

    .rotated-image {
        width: 270px;
        top: 20px;
        /* 位置を調整してください。 */
        left: 30px;
        /* 位置を調整してください。 */
        transform: rotate(45deg);
        /* 45度回転。 */
        position: absolute;
    }

    .rotated-image2 {
        width: 185px;
        height: 185px;
        top: 250px;
        /* 位置を調整してください。 */
        left: 240px;
        /* 位置を調整してください。 */
    }

    .rotated-image3 {
        width: 180px;
        height: 180px;
        top: 380px;
        /* 位置を調整してください。 */
        left: 80px;
        /* 位置を調整してください。 */
    }


    .container3 {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px;
        place-items: center;
        overflow: hidden;
    }

    .container2 {
        display: flex;
        justify-content: center;
        /* 水平方向の中央揃え */
        align-items: center;
        /* 垂直方向の中央揃え */
    }

    .rotated-image4,
    .rotated-image5 {
        transform: rotate(-45deg);
        place-items: center;
        width: 150px;
        height: 150px;
    }

    .rotated-image4 img,
    .rotated-image5 img {
        width: 150px;
        height: 150px;

    }

    .text-Container {
        display: flex;
        width: 90%;
        height: 100px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        /* border: 1px solid rgb(255, 255, 255); */
        background-color: #353536;
    }

    .text-Container p {
        height: 100px;
        color: #FFF;
        text-align: center;
        font-family: Kaisei HarunoUmi;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /*枠線が伸びて出現*/
    .line {
        position: relative;
        /* 枠線が書かれる基点*/
    }

    /*上下線*/
    .line::before,
    .line::after {
        position: absolute;
        content: "";
        width: 0;
        height: 1px;
        background: #fff;
        /* 枠線の色*/
    }

    /*左右線*/
    .line2::before,
    .line2::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 0;
        background: #fff;
        /* 枠線の色*/
    }

    /*上線*/
    .line::before {
        top: 0;
        left: 0;
        animation: lineAnime .4s linear 0s forwards;
        /*表示されて0秒後に上線が0.5秒かけて表示*/
    }

    /*右線*/
    .line2::before {
        top: 0;
        right: 0;
        animation: lineAnime2 .4s linear .4s forwards;
        /*表示されて0.5秒後に右線が0.5秒かけて表示*/
    }

    /*下線*/
    .line::after {
        bottom: 0;
        right: 0;
        animation: lineAnime .4s linear .8s forwards;
        /*表示されて1秒後に下線が0.5秒かけて表示*/
    }

    /*左線*/
    .line2::after {
        bottom: 0;
        left: 0;
        animation: lineAnime2 .4s linear 1.2s forwards;
        /*表示されて1.5秒後に左線が0.5秒かけて表示*/
    }

    @keyframes lineAnime {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }

    @keyframes lineAnime2 {
        0% {
            height: 0%;
        }

        100% {
            height: 100%;
        }
    }

    /*枠線内側の要素*/
    .line .lineinappear {
        animation: lineInnerAnime .5s linear 1.5s forwards;
        /*1.5秒後に中央のエリアが0.5秒かけて表示*/
        opacity: 0;
        /*初期値を透過0にする*/
    }

    @keyframes lineInnerAnime {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }


    /*========= レイアウトのためのCSS ===============*/




    .text {
        color: #FFF;
        text-align: left;
        font-family: Kaisei HarunoUmi;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 10%;
    }

    .shop-photo {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .shop-photo img {
        width: 90%;
    }


    .text-syo-sai {
        display: flex;
        /* フレックスコンテナを定義 */
        flex-direction: row;
        /* 子要素を横方向に配置 */
        color: #FFF;
        text-align: left;
        font-family: Kaisei HarunoUmi;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 5px 20px 5px 20px;
    }

    .spacer {
        flex-grow: 2;
        /* この空白スペーサーがテキストの2倍の空間を取るように設定 */
    }

    .text-Container2 {
        display: flex;
        width: 100%;
        height: 100px;
        flex-direction: column;
        justify-content: top;
        flex-shrink: 0;

        text-align: left;
        font-family: Kaisei HarunoUmi;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #FFF;
        margin: 5px 20px 5px 20px;
    }

    .map {
        position: relative;
        width: 100%;
        height: 400px;
        margin-top: 50px;
    }

    /* Google Mapのiframe */
    .map iframe {
        position: absolute;
        top: 45%;
        width: 80%;
        height: 100%;
        left: 50%;
        /* 左から50%の位置に設定 */
        transform: translate(-50%, -50%);
        /* 中央に配置するための調整 */
    }

    .text-Container3 {
        display: flex;
        width: 100%;
        height: 125px;
        flex-direction: column;
        justify-content: top;
        flex-shrink: 0;

        text-align: left;
        font-family: Kaisei HarunoUmi;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #FFF;
        margin: 5px 20px 5px 20px;
    }

    .right-text {
        display: flex;
        justify-content: flex-end;
        margin: 5px 20px 5px 20px;
        color: #FFF;
        font-family: Kaisei HarunoUmi;
    }

    .cancel {
        width: 100%;
        height: 400px;
        text-align: center;
        /* この行を追加 */
    }

    .cancel h3 {
        color: #FFF;
        margin: 10%;
        /* ここはお好みに応じて */
    }

    .cancel span {
        color: #FFF;
        font-family: 'Kaisei HarunoUmi';
        font-size: 20px;
        /* width: 100%; この行は削除 */
        /* text-align: center; この行は不要なので削除 */
    }


    .background-image {
        background-image: url('../images/Rectangle\ 26.jpg');
        /* 背景画像を設定し、他のスタイルを上書き */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        /* 要素の幅を画面全体にする場合 */
        height: 500px;
        /* 高さを指定 */
    }


    /* なにこれ */
    /* タブレット向けのスタイル
@media (min-width: 768px) {} */

    /* コースメニュー */
    /* 基本スタイル (320px〜480px) */
    .course-menu {
        color: #FFF;
        width: 100%;
        overflow: hidden;
    }

    .course-menu p {
        font-size: 24px;
    }

    .photo img {
        width: 130px;
        height: auto;
        margin: 10px;
    }


    .course-container {
        display: flex;

    }

    .shape {
        width: 130px;
        height: 120px;
        position: relative;
        right: 0%;
    }

    .shape img {
        width: 70%;
        /* 親要素に合わせて画像を伸ばす */
        height: auto;
        /* 画像の元のアスペクト比を維持する */
        transform: rotate(45deg);
        position: relative;
        /* 位置指定を相対的に設定 */
        left: 13px;
        top: 10px;
    }

    .shape p {
        position: absolute;
        top: 25%;
        /* 要素をshapeの上辺に沿わせる */
        left: 45%;
        /* 要素を左右中央に配置する */
        transform: translateX(-50%);
        /* 要素の幅の半分だけ左に移動させる */
        padding: 0px 0px;
        /* テキストの周りに余白を設定する */
        width: 100%;
        /* 必要に応じて調整 */
        text-align: center;
        /* テキストを中央揃えにする */
        color: #FFF;
        font-size: 13px;
    }




    .shape-4 {
        width: 130px;
        height: 120px;
        position: relative;
        right: 0%;
    }

    .shape-4 img {
        width: 70%;
        /* 親要素に合わせて画像を伸ばす */
        height: auto;
        /* 画像の元のアスペクト比を維持する */
        transform: rotate(45deg);
        position: relative;
        /* 位置指定を相対的に設定 */
        left: 13px;
        top: 10px;
    }

    .shape-4 p {
        position: absolute;
        top: 0%;
        /* 要素をshapeの上辺に沿わせる */
        left: 45%;
        /* 要素を左右中央に配置する */
        transform: translateX(-50%);
        /* 要素の幅の半分だけ左に移動させる */
        padding: 0px 0px;
        /* テキストの周りに余白を設定する */
        width: 110%;
        /* 必要に応じて調整 */
        text-align: center;
        /* テキストを中央揃えにする */
        color: #FFF;
        font-size: 12px;
    }



    .shape-2 {
        width: 130px;
        height: 120px;
        position: relative;
        left: 0%;
    }

    .shape-2 img {
        width: 70%;
        /* 親要素に合わせて画像を伸ばす */
        height: auto;
        /* 画像の元のアスペクト比を維持する */
        transform: rotate(45deg);
        position: relative;
        /* 位置指定を相対的に設定 */
        left: 23px;
        top: 10px;
    }

    .shape-2 p {
        position: absolute;
        top: 26%;
        /* 要素をshapeの上辺に沿わせる */
        left: 54%;
        /* 要素を左右中央に配置する */
        transform: translateX(-50%);
        /* 要素の幅の半分だけ左に移動させる */
        padding: 0px 0px;
        /* テキストの周りに余白を設定する */
        width: 100%;
        /* 必要に応じて調整 */
        text-align: center;
        /* テキストを中央揃えにする */
        color: #000;
        font-size: 13px;
    }




    .shape-3 {
        width: 130px;
        height: 120px;
        position: relative;
        left: 0%;
    }

    .shape-3 img {
        width: 70%;
        /* 親要素に合わせて画像を伸ばす */
        height: auto;
        /* 画像の元のアスペクト比を維持する */
        transform: rotate(45deg);
        position: relative;
        /* 位置指定を相対的に設定 */
        left: 23px;
        top: 10px;
    }

    .shape-3 p {
        position: absolute;
        top: 5%;
        /* 要素をshapeの上辺に沿わせる */
        left: 52%;
        /* 要素を左右中央に配置する */
        transform: translateX(-50%);
        /* 要素の幅の半分だけ左に移動させる */
        padding: 0px 0px;
        /* テキストの周りに余白を設定する */
        width: 110%;
        /* 必要に応じて調整 */
        text-align: center;
        /* テキストを中央揃えにする */
        color: #FFF;
        font-size: 12px;
    }





    /* デフォルトスタイル */
    .course-shape {
        width: 97px;
        /* 400px未満の場合のデフォルトの幅 */
        height: 120px;
        position: relative;
    }



    /* 回転するアニメーション */
    .course-shape img {
        width: 100%;
        /* 親要素に合わせて画像を伸ばす */
        height: auto;
        /* 画像の元のアスペクト比を維持する */
        /* ()の中身で回転する角度をいじれる */
        transform: rotate(0deg);
        transition: transform 0.2s ease;

    }

    .course-shape p {
        position: absolute;
        top: 0%;
        /* 要素をshapeの上辺に沿わせる */
        left: 50%;
        /* 要素を左右中央に配置する */
        transform: translateX(-50%);
        /* 要素の幅の半分だけ左に移動させる */
        padding: 5px 10px;
        /* テキストの周りに余白を設定する */
        width: 100%;
        /* 必要に応じて調整 */
        text-align: center;
        /* テキストを中央揃えにする */
        color: #000;
        font-size: 20px;
        z-index: 2;
    }



    p.chr-expanded {
        position: absolute;
        top: 0%;
        /* 要素をshapeの上辺に沿わせる */
        left: 50%;
        /* 要素を左右中央に配置する */
        transform: translateX(-50%);
        /* 要素の幅の半分だけ左に移動させる */
        padding: 0px 0px;
        /* テキストの周りに余白を設定する */
        width: 120%;
        /* 必要に応じて調整 */
        text-align: center;
        /* テキストを中央揃えにする */
        color: #000;
        font-size: 26px;
        transition: font-size 0.5s ease;
    }



    p.push-chr {
        font-size: 16px;
        top: 44%;
    }



    /* ボタンデザイン */

    .course-button {
        position: relative;
        width: 98px;
        height: 98px;
        background-color: #800000;
        transform: rotate(45deg);
        z-index: 0;
    }

    .course-push {
        position: relative;
        width: 53px;
        height: 53px;
        top: 40px;
        left: 40px;
        background-color: #FFFFFF;
        z-index: 2;
    }

    .course-shadow {
        position: relative;
        width: 56px;
        height: 56px;
        top: -13px;
        left: 40px;
        background-color: #000000;
        z-index: 1;
    }

    .single-button {
        position: relative;
        width: 98px;
        height: 98px;
        background-color: #FFFFFF;
        transform: rotate(45deg);
        z-index: 0;
    }

    .single-push {
        position: relative;
        width: 53px;
        height: 53px;
        top: 40px;
        left: 40px;
        background-color: #800000;
        z-index: 2;
    }

    .single-shadow {
        position: relative;
        width: 56px;
        height: 56px;
        top: -13px;
        left: 40px;
        background-color: #000000;
        z-index: 1;
    }




    #singlePushChr{
        color: #FFF;
    }

    /* ボタン押された時の挙動 */

    .course-word-pushed{
        color: #000;
    }

    #singlePushChr{
        color: #FFF;
    }

    .course-button-pushed {
        width: 98px;
        height: 98px;
        background-color: #FFFFFF;
        transform: rotate(45deg);
        z-index: 0;
    }

    .course-push-pushed {
        position: relative;
        width: 53px;
        height: 53px;
        top: 40px;
        left: 40px;
        background-color: #800000;
        z-index: 2;
    }

    .course-shadow-pushed {
        position: relative;
        width: 56px;
        height: 56px;
        top: -16px;
        left: 37px;
        background-color: #FFFFFF;
        z-index: 1;
    }


    .single-button-pushed {
        position: relative;
        width: 98px;
        height: 98px;
        background-color: #FFF;
        transform: rotate(45deg);
        z-index: 0;
    }

    .single-push-pushed {
        position: relative;
        width: 53px;
        height: 53px;
        top: 40px;
        left: 40px;
        background-color: #C3C3C3;
        z-index: 2;
    }

    .single-shadow-pushed {
        position: relative;
        width: 56px;
        height: 56px;
        top: -16px;
        left: 37px;
        background-color: #000000;
        z-index: 1;
    }



    img.img-rotation {
        transform: rotate(45deg);
        transition: transform 0.5s ease;
    }

    .price {
        font-family: 'Kaisei HarunoUmi';
        color: #FFF;
        text-align: center;
    }

    .explanation {
        font-family: 'Kaisei HarunoUmi';
        color: #FFF;
        text-align: center;
        margin: 0.3rem 0.6rem 0.3rem 0.6rem;
    }

    .explanation-special {
        font-family: 'Kaisei HarunoUmi';
        color: #FFF;
        text-align: center;
        margin: 0.3rem 0rem 0.3rem 0rem;
        padding: 5px;
        font-size: 12px;
    }

    .tanpin {
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
    }

    .tanpin td,
    th {
        border: 1px solid black;
        text-align: center;
        padding: 8px;
    }


    .explanation-container {
        background-image: url("../images/Rectangle 32.png");
        width: 100%;
        height: auto;
        background-size: 100% auto;
    }

    .onedan {
        background-image: url("../images/メインビジュアル１.jpg");
        background-size: auto 100%;
    }

    table {
        border: none;
    }

    .syosai {
        width: 100%;
        /* テーブルの幅をページの幅に合わせる */
        border-collapse: collapse;
        /* セルの境界線を重ねる */
    }

    .syosai th,
    td  {
        border: 1px solid #ddd;
        /* セルの境界線のスタイル */
        text-align: left;
        /* テキストの左揃え */
        padding: 8px;
        /* セル内の余白 */
        /* white-space: nowrap;
        width: auto; */
        border: none;
    }

    /* 特定の<td>の幅を広げる */
    .wide-cell {
        min-width: 120px;
        /* 最小幅を200pxに設定 */
    }

    /* メニュー項目のスタイル */
    .menu-item {
        padding: 5px 20px;
        /* パディング */
        text-align: center;
        /* 中央揃え */
        margin: top 20px;
        font-size: 15px;
    }



    /* メニュー項目をホバーしたときのスタイル */
    .menu-item:hover {
        background-color: #555;
        cursor: pointer;
    }

    /* アクティブなメニュー項目のスタイル */
    .active {
        font-weight: bold;
        /* 文字を太く */
    }

    /* ボタンのスタイル */
    .button {
        background: #A3A3A3;
        /* ボタンの背景色 */
        color: #fff;
        /* ボタンの文字色 */
        padding: 10px 20px;
        /* パディング */
        text-align: center;
        /* 中央揃え */
        display: block;
        /* ブロック要素として表示 */
        margin: 10px auto;
        /* 上下のマージン */
        width: 80%;
        /* ボタンの幅 */
        border: none;
        /* 枠線なし */
        transition: background-color 0.3s;
        /* 背景色の変化を滑らかに */
    }

    /* ボタンをホバーしたときのスタイル */
    .button:hover {
        background-color: #777;
        cursor: pointer;
    }


    /* 以下消去 */
    /* .backgroud {
    width: 100%;
    background-image: url("../images/Rectangle\ 27.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* 要素の幅を画面全体にする場合 */
    /* height: 316px; */
    /* 高さを指定 */
    /* } */



    /* 以下単品 */

    p {
        font-family: 'Kaisei HarunoUmi';
    }

    .left-photo {
        width: 150px;
        height: 150px;
        margin: 15px;
    }

    .right-shape {
        width: 150px;
        height: 140px;
        position: relative;
    }

    .right-shape img {
        width: 100%;
        /* 親要素に合わせて画像を伸ばす */
        height: auto;
        /* 画像の元のアスペクト比を維持する */
        transform: rotate(45deg);
    }

    .right-shape p {
        color: #FFFFFF;
        position: absolute;
        top: 10%;
        /* 要素をshapeの上辺に沿わせる */
        left: 50%;
        /* 要素を左右中央に配置する */
        transform: translateX(-50%);
        /* 要素の幅の半分だけ左に移動させる */
        padding: 5px 10px;
        /* テキストの周りに余白を設定する */
        width: 140%;
        /* 必要に応じて調整 */
        text-align: center;
        /* テキストを中央揃えにする */
        font-size: 15px;

    }

    .right-photo {
        width: 150px;
        height: 150px;
        margin: 15px;
    }

    .left-shape {
        width: 150px;
        height: 140px;
        position: relative;
    }

    .left-shape img {
        width: 100%;
        height: auto;
        transform: rotate(45deg);
    }

    .left-shape p {
        color: #FFFFFF;
        position: absolute;
        top: 10%;
        right: 50%;
        /* left を right に変更 */
        transform: translateX(50%);
        /* -50% を 50% に変更 */
        padding: 5px 10px;
        width: 100%;
        text-align: center;
    }

    .hidagyu img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .onedan {
        color: white;
    }

    /* アニメーションcss */
    @keyframes dropAndFade {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .showWithAnimation {
        animation: dropAndFade 1s ease forwards;
    }

    /* アニメーションcss */
    @keyframes riseAndFade {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

    .hideWithAnimation {
        animation: riseAndFade 0.5s ease forwards;
    }


    .text {
        font-size: 16px;
        transition: font-size 0.5s ease;
    }

    .image-container:hover .text {
        font-size: 24px;
    }

    .swiper {
        width: 100%;
        height: auto;
    }

    .swiper2 {
        width: 100%;
        height: auto;
    }

    #instagram-logo {
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 50px;
        height: 50px;
        z-index: 1;
    }



    @keyframes sample {

        to {

            transform: scale(1.5);
        }

    }

    /* #loading-text {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-family: 'Koulen', sans-serif;
        color: #000;
        font-size: 20px;
        
    }

    #loading-text span {
        display: inline-block;
       
        animation: wave-animation 2s infinite ease-in-out;
    }

    @keyframes wave-animation {

        0%,
        10%,
        20%,
        90%,
        100% {
            transform: translateY(0px);
        }

        30% {
            transform: translateY(-20px);
        }

        40%,
        50%,
        60% {
            transform: translateY(0px);
        }

        70% {
            transform: translateY(20px);
        }

        80% {
            transform: translateY(0px);
        }
    } */
    /* 
    
    #loading-text span:nth-child(1) {
        animation-delay: 0s;
    }

    #loading-text span:nth-child(2) {
        animation-delay: 0.1s;
    }

    #loading-text span:nth-child(3) {
        animation-delay: 0.2s;
    }

    #loading-text span:nth-child(4) {
        animation-delay: 0.3s;
    }

    #loading-text span:nth-child(5) {
        animation-delay: 0.4s;
    }

    #loading-text span:nth-child(6) {
        animation-delay: 0.5s;
    }

    #loading-text span:nth-child(7) {
        animation-delay: 0.6s;
    }

    #loading-text span:nth-child(8) {
        animation-delay: 0.7s;
    }

    #loading-text span:nth-child(9) {
        animation-delay: 0.8s;
    }

    #loading-text span:nth-child(10) {
        animation-delay: 0.9s;
    } */

    /* 画面幅が380px以上の場合のスタイル */
    @media (min-width: 380px) {
        .menu {
            margin-top: 30%;
        }
    }

    /* 画面幅が400px以上の場合のスタイル */
    @media (min-width: 400px) {
        .logo-chr {
            top: 10px;
            width: 50px;
            height: 50px;
        }
    }

    @media screen and (min-width: 380px) {
        .color-font {
            color: rgb(0, 0, 0);
        }
    }

    @media screen and (min-width: 320px) and (max-width: 379px) {
        .color-font2 {
            color: rgb(0, 0, 0);
        }
    }

    @media (min-width: 350px) {
        .text-Container {
            height: 125px;
        }

        .text-Container p {
            height: 125px;

            font-size: 20px;
        }
    }

    /* 画面幅が400px以上の場合のスタイル */
    @media (min-width: 350px) {
        .photo img {
            width: 150px;
            height: 150px;
            margin: 15px;
        }
    }

    /* 画面幅が330px以上の場合のスタイル */
    @media (min-width: 330px) {
        .shape img {
            width: 90%;
            /* 位置指定を相対的に設定 */
            left: 8px;
            top: 0px;
        }

        .shape p {
            left: 50%;
            font-size: 16px;
        }
    }

    /* 画面幅が330px以上の場合のスタイル */
    @media (min-width: 330px) {
        .shape-4 img {
            width: 90%;
            /* 位置指定を相対的に設定 */
            left: 8px;
            top: 0px;
        }

        .shape-4 p {
            left: 48%;
            font-size: 15px;
            width: 130%;

        }
    }

    /* 画面幅が330px以上の場合のスタイル */
    @media (min-width: 330px) {
        .shape-2 img {
            width: 90%;
            /* 位置指定を相対的に設定 */
            right: 8px;
            top: 0px;
        }

        .shape-2 p {
            left: 62%;
            font-size: 16px;
        }
    }

    /* 画面幅が330px以上の場合のスタイル */
    @media (min-width: 330px) {
        .shape-3 img {
            width: 90%;
            /* 位置指定を相対的に設定 */
            right: 8px;
            top: 0px;
        }

        .shape-3 p {
            left: 62%;
            font-size: 15px;
            width: 130%;

        }
    }

    /* 画面幅が380px以上の場合のスタイル */
    @media (min-width: 380px) {
        .course-shape {
            width: 130px;
        }
    }

    /* 画面幅が400px以上の場合のスタイル */
    @media (min-width: 380px) {
        .course-shape p {
            top: -3%;
            /* 要素をshapeの上辺に沿わせる */
            left: 50%;
            /* 要素を左右中央に配置する */
            font-size: 26px;
        }
    }

    /* 画面幅が400px以上の場合のスタイル */
    @media (min-width: 380px) {
        p.chr-expanded {
            top: -1%;
            /* 要素をshapeの上辺に沿わせる */
            left: 50%;
            /* 要素を左右中央に配置する */
            font-size: 32px;
            transition: font-size 0.5s ease;
        }
    }

    @media (min-width: 380px) {
        p.push-chr {
            font-size: 22px;
            top: 55%;
        }
    }

    /* 画面幅が380px以上の場合のスタイル */
    @media (min-width: 380px) {
        .course-button {
            width: 130px;
            height: 130px;
        }

        .course-push {
            width: 70px;
            height: 70px;
            top: 50px;
            left: 50px;
        }

        .course-shadow {
            width: 75px;
            height: 75px;
            top: -20px;
            left: 50px;
        }

        .single-button {
            width: 130px;
            height: 130px;
        }

        .single-push {
            width: 70px;
            height: 70px;
            top: 50px;
            left: 50px;
        }

        .single-shadow {
            width: 75px;
            height: 75px;
            top: -20px;
            left: 50px;
        }
    }

    /* 画面幅が380px以上の場合のスタイル */
    @media (min-width: 380px) {
    
        #singlePushChr{
            color: #FFF;
        }

        .course-word{
            color: #FFF;
        }

        .course-word-pushed{
            color: #000;
        }
    
        #singlePushChr{
            color: #FFF;
        }
    
        .course-button-pushed {
            width: 130px;
            height: 130px;
            background-color: #FFFFFF;
            transform: rotate(45deg);
            z-index: 0;
        }

        .course-push-pushed {
            position: relative;
            width: 70px;
            height: 70px;
            top: 50px;
            left: 50px;
            background-color: #800000;
            z-index: 2;
        }

        .course-shadow-pushed {
            position: relative;
            width: 75px;
            height: 75px;
            top: -25px;
            left: 45px;
            background-color: #000000;
            z-index: 1;
        }


        .single-button-pushed {
            position: relative;
            width: 130px;
            height: 130px;
            background-color: #FFF;
            transform: rotate(45deg);
            z-index: 0;
        }

        .single-push-pushed {
            position: relative;
            width: 70px;
            height: 70px;
            top: 50px;
            left: 50px;
            background-color: #C3C3C3;
            z-index: 2;
        }

        .single-shadow-pushed {
            position: relative;
            width: 75px;
            height: 75px;
            top: -25px;
            left: 45px;
            background-color: #000000;
            z-index: 1;
        }
    }

    /* 画面幅が400px以上の場合のスタイル */
    @media (min-width: 345px) {
        .explanation-special {
            font-family: 'Kaisei HarunoUmi';
            color: #FFF;
            text-align: center;
            margin: 0.3rem 2rem 0.3rem 2rem;
            padding: 5px;
            font-size: 15px;
        }

    }

    /* 画面幅が400px以上の場合のスタイル */
    @media (min-width: 380px) {
        .menu-item {
            padding: 10px 20px;
            /* パディング */
            font-size: 20px;
        }
    }
}